<%- include("partials/head", {title:"Pastyjs - Simple Pastebin App"}) %>

    <div class="container" style="flex-direction: column">
        <h1 style="color: white;">Welcome to Pasty.</h1>
        <hr style="border: 1px solid white; width: 10%;">

    </div>


    <%- include("partials/foot") %>